{% extends 'base.html' %}
{% block content %}
<style>
     body{
      top: 0;
     left: 0;
    margin: 0;
    padding: 0;
    /* background: url('https://static.wixstatic.com/media/84770f_be3f607ccbbc4053a20701f14104bb0f.jpg/v1/fill/w_1349,h_585,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_be3f607ccbbc4053a20701f14104bb0f.jpg')fixed; */
    background-size: cover;
    background-position: center;


}

</style>
<section style="margin-top: 100px;">
    <div class="container p-3" style="margin-bottom: 30px;"><h1 class="text-center" style="color: green;">This Is Our Story</h1></div>
    <div class="container-fluid p-3">
        <img src="https://static.wixstatic.com/media/86cb94_bf689c01dab7479ca58c5810218a79ad~mv2_d_5079_3039_s_4_2.jpg/v1/fill/w_1349,h_580,fp_0.66_0.65,q_85,usm_0.66_1.00_0.01,enc_auto/86cb94_bf689c01dab7479ca58c5810218a79ad~mv2_d_5079_3039_s_4_2.jpg" class="img-fluid" style="border-radius: 30px;">
        <p class="text-justify p-3" style="margin-top: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod hendrerit tristique. Quisque vitae nisi at velit tincidunt cursus. Sed tempus felis ac dolor condimentum, nec finibus ipsum consequat. Mauris ultrices sagittis justo vitae aliquet. Morbi dignissim turpis ac vestibulum fermentum. Suspendisse ut cursus mi.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod hendrerit tristique. Quisque vitae nisi at velit tincidunt cursus. Sed tempus felis ac dolor condimentum, nec finibus ipsum consequat. Mauris ultrices sagittis justo vitae aliquet. Morbi dignissim turpis ac vestibulum fermentum. Suspendisse ut cursus mi.</p>
        <!-- <p class="text-justify p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod hendrerit tristique. Quisque vitae nisi at velit tincidunt cursus. Sed tempus felis ac dolor condimentum, nec finibus ipsum consequat. Mauris ultrices sagittis justo vitae aliquet. Morbi dignissim turpis ac vestibulum fermentum. Suspendisse ut cursus mi.</p>
        <p class="text-justify p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod hendrerit tristique. Quisque vitae nisi at velit tincidunt cursus. Sed tempus felis ac dolor condimentum, nec finibus ipsum consequat. Mauris ultrices sagittis justo vitae aliquet. Morbi dignissim turpis ac vestibulum fermentum. Suspendisse ut cursus mi.</p>
        <p class="text-justify p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod hendrerit tristique. Quisque vitae nisi at velit tincidunt cursus. Sed tempus felis ac dolor condimentum, nec finibus ipsum consequat. Mauris ultrices sagittis justo vitae aliquet. Morbi dignissim turpis ac vestibulum fermentum. Suspendisse ut cursus mi.</p> -->
    </div>
    </div>

  </section>

{%endblock%}