{% extends 'base.html' %}
{% block content %}
<style>
    body{
      top: 0;
     left: 0;
    margin: 0;
    padding: 0;
    background: url('https://static.wixstatic.com/media/84770f_be3f607ccbbc4053a20701f14104bb0f.jpg/v1/fill/w_1349,h_585,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_be3f607ccbbc4053a20701f14104bb0f.jpg')fixed;
    background-size: cover;
    background-position: center;

}

#bt1{
        background-color: transparent;
        border: none;
    }
#bt1:hover{
    border: 2px solid green; 
}
#over:hover{
    background-color: rgb(240, 237, 237);
}




.card1{
    width: 100%;
    height: 330px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
.card1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(13, 126, 21, 0.5),rgb(34, 53, 29));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
}
.card1:hover::before{
    opacity: 1;
}
.card1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
}
.card1 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;

}
.card1:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card2 {
      margin-bottom: 20px;
      position: relative;
      border-radius: 10px;
    }
.card2 img{
  border-radius: 10px;
  height: 300px;
}
    .card2 .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(51, 104, 16, 0.6);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 10px;
    }

    .card2:hover .card-overlay {
      opacity: 1;
    }

    .card2 .card-overlay .card-overlay-text {
      text-align: center;
    }

.cards{
  margin-bottom: 20px;
  border-radius: 10px;
}


.cards img{
  height: 320px;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cards .card-text{
  text-align: center;
  color: green;
}
.cards{
     
      transition: transform 0.3s ease;
    }

    .cards:hover {
      transform: scale(1.05);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div style="color: green;">
                <h1 style="text-align: center; margin-top: 60%;" class="p" id="p">Welcome To Travelista</h1>
                <p style="text-align: center;"class="p" id="p">"Travel far, travel wide, and travel freely."</p>
                <div class="text-center">
                  <!-- <button class="btn" style="background-color: green;">Get Started</button> -->
              </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">

        </div>
    </div>
</div>
<section style=" margin-top: 320px;">
<div class="container" style="background-color: rgb(18, 66, 18);">
  <div class="row">
    <div class="col-sm-6 text-justify p-4" style="color: white;">
      <h2>
HELLO THERE!</h2>
      <p>Welcome to our travel and tourism company! We are passionate about creating unforgettable experiences for travelers around the world.</p>
      <p>With our extensive knowledge of different destinations and our network of trusted partners, we curate unique itineraries that cater to various interests and preferences.</p>
      <p>Whether you're seeking adventure, relaxation, cultural immersion, or a combination of everything, our team of experienced travel experts will work closely with you to design a personalized trip that exceeds your expectations.</p>
    
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center p-3">
      <img src="https://images.pexels.com/photos/228095/pexels-photo-228095.jpeg?auto=compress&cs=tinysrgb&w=600s" alt="Image" class="img-fluid max-width-100" style="max-height: 300px;">
    </div>
  </div>
</div>
</section>

<section style="background-color: white;margin-top: 100px;">
  <div class="container">
    <h2 class="text-center" style="color: green;">Packages For You!</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card2"><a href="{%url 'budget'%}" style="text-decoration: none; color: white;">
          <img src="https://static.wixstatic.com/media/ee7f6b_f6f705a26f8d45cea038dd226a93f6ee~mv2_d_5616_3744_s_4_2.jpeg/v1/fill/w_394,h_390,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/ee7f6b_f6f705a26f8d45cea038dd226a93f6ee~mv2_d_5616_3744_s_4_2.jpeg" class="card-img-top" alt="Package 1">
          <div class="card-overlay">
            <div class="card-overlay-text">
              <h5>Budget Travel</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Price: $99</p>
              <a href="{%url 'budget'%}" style="text-decoration: none; background-color: green;color: white;" class="btn" >View more</a>
            </div>
          </div>
        </div></a>
      </div>
      <div class="col-sm-4">
        <div class="card card2">
          <img src="https://static.wixstatic.com/media/ee7f6b_aaa19ea226d64f13aa181b37103bdf36~mv2_d_5120_2880_s_4_2.jpg/v1/fill/w_393,h_390,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/ee7f6b_aaa19ea226d64f13aa181b37103bdf36~mv2_d_5120_2880_s_4_2.jpg" class="card-img-top" alt="Package 2">
          <div class="card-overlay">
            <div class="card-overlay-text">
              <h5>Luxury Travel</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Price: $149</p>
              <a href="{%url 'budget'%}" style="text-decoration: none; background-color: green;color: white;" class="btn" >View more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card2">
          <img src="https://static.wixstatic.com/media/ee7f6b_a3a34b96394846f3a37bd872de03cfb7~mv2_d_5472_3648_s_4_2.jpg/v1/fill/w_393,h_390,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/ee7f6b_a3a34b96394846f3a37bd872de03cfb7~mv2_d_5472_3648_s_4_2.jpg" class="card-img-top" alt="Package 3">
          <div class="card-overlay">
            <div class="card-overlay-text">
              <h5>Adventures Travel
              </h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Price: $199</p>
              <a href="{%url 'budget'%}" style="text-decoration: none; background-color: green;color: white;" class="btn" >View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card2">
          <img src="https://images.pexels.com/photos/274060/pexels-photo-274060.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Package 1">
          <div class="card-overlay">
            <div class="card-overlay-text">
              <h5>Budget Travel</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Price: $99</p>
              <a href="{%url 'budget'%}" style="text-decoration: none; background-color: green;color: white;" class="btn" >View more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card2">
          <img src="https://images.pexels.com/photos/248195/pexels-photo-248195.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Package 2">
          <div class="card-overlay">
            <div class="card-overlay-text">
              <h5>Luxury Travel</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Price: $149</p>
              <a href="{%url 'budget'%}" style="text-decoration: none; background-color: green;color: white;" class="btn" >View more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card2">
          <img src="https://images.pexels.com/photos/547119/pexels-photo-547119.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="Package 3">
          <div class="card-overlay">
            <div class="card-overlay-text">
              <h5>Adventures Travel
              </h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>Price: $199</p>
              <a href="{%url 'budget'%}" style="text-decoration: none; background-color: green; color: white;" class="btn" >View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid" style="background-color: white; margin-top: 100px; padding-bottom: 30px;">
    <div class="row pt-3">
        <div class="col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <center>
               
            <h1 style="color: green;">Gallery</h1>
            </center>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row pt-3 p-3">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <center>
            <button id="bt1" class="btn ps-2 pe-2" onclick="fieldset1_function()" style="color: green;">All</button>
            <button id="bt1" class="btn"  onclick="fieldset2_function()" style="color: green;">Norway</button>
            <button id="bt1" class="btn"  style="color: green;">San Francisco</button>
            <button id="bt1" class="btn"  style="color: green;">Turkey</button>
          
            </center>




        </div>
        <div class="col-sm-12 col-md-2 col-lg-2"></div>

    </div>
    <fieldset1 id="field1">
        <div class="mb-5 mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <img src="https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" style="border-radius: 10px;"s></a>
                        <div class="info">
                                                  
                                <h1 style="text-align: center;">Autralia</h1>
                           
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=600"  style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1834407/pexels-photo-1834407.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Italy</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1770809/pexels-photo-1770809.jpeg?auto=compress&cs=tinysrgb&w=600s" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Ireland</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2 ">
              <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                <div class="card1 mt-3" style="border-radius: 10px;">
                  <a href=""><img src="https://images.pexels.com/photos/4962458/pexels-photo-4962458.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">San francisco</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&w=600U" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">China</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/3464632/pexels-photo-3464632.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Netherland</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Africa</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </fieldset1>
    <fieldset2 id="field2" style="display: none;">
        <!-- <div class="container-fluid mb-5 mt-4"> -->
              <div class="row pt-3">
                <div class="col-sm-12 col-md-3 col-lg-3 ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1559825/pexels-photo-1559825.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1933239/pexels-photo-1933239.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1559846/pexels-photo-1559846.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/358589/pexels-photo-358589.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                              
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1674624/pexels-photo-1674624.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/1542141/pexels-photo-1542141.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/14754644/pexels-photo-14754644.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3  ps-4 pe-4">
                  <div class="card1 mt-3" style="border-radius: 10px;">
                    <a href=""><img src="https://images.pexels.com/photos/4050814/pexels-photo-4050814.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" style="border-radius: 10px;"></a>
                        <div class="info">
                            <h1 style="text-align: center;">Norway</h1>
                            <p style="text-align: justify;">Travel is a remarkable journey that opens our eyes, hearts, and minds to the wonders of the world. It is a chance to escape the familiar, break free from routines, and embrace the unknown.</p>
                               
                        </div>
                    </div>
                </div>
            </div>
         

        </div>
    </fieldset2>

  </div>



<script>

function fieldset1_function(){
        document.getElementById("field2").style.display="none";
        document.getElementById("field1").style.display="block";

    }
    function fieldset2_function(){
       

        document.getElementById("field1").style.display="none";
        document.getElementById("field2").style.display="block";

    }
</script>
</section>
 <section id="service">
  <div class="container" style="margin-bottom: 30px; margin-top: 100px;">
    <h2 class="text-center" style="color: green;">Services</h2>
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card cards">
          <img src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?size=626&ext=jpg&ga=GA1.1.1627752904.1678800785&semt=ais" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <p class="card-text">Customer Services</p>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card cards">
          <img src="https://img.freepik.com/free-vector/vacation-holidays-background-with-realistic-globe-suitcase-photo-camera_1284-10476.jpg?size=626&ext=jpg&ga=GA1.2.1627752904.1678800785&semt=ais" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <p class="card-text">Transportation Support</p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="card cards">
          <img src="https://img.freepik.com/free-vector/tour-vacation-guide-illustration_1284-16528.jpg?size=626&ext=jpg&ga=GA1.2.1627752904.1678800785&semt=ais" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <p class="card-text">Guides Support</p>
          </div>
        </div>
      </div>
  
  
    </div>
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card cards">
          <img src="https://img.freepik.com/free-vector/border-template-with-airplane-flying-sky_1308-34077.jpg?size=626&ext=jpg&ga=GA1.1.1627752904.1678800785&semt=sph" class="card-img-top" alt="Image 4">
          <div class="card-body">
            <p class="card-text">Flight Support</p>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card cards">
          <img src="https://img.freepik.com/free-vector/hotel-reception-cartoon-background_1284-23534.jpg?size=626&ext=jpg&ga=GA1.1.1627752904.1678800785&semt=sph" class="card-img-top" alt="Image 5">
          <div class="card-body">
            <p class="card-text">Accomadation Services</p>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="card cards">
          <img src="https://img.freepik.com/free-vector/hand-drawn-delicious-indian-food_23-2149336170.jpg?size=626&ext=jpg&ga=GA1.1.1627752904.1678800785&semt=sph" class="card-img-top" alt="Image 5">
          <div class="card-body">
            <p class="card-text">Food Support</p>
          </div>
        </div>
      </div>
      
    
  
    </div>
  
  </div>
      
</section> 

{%endblock%}