{% extends 'base.html' %}
{% block content %}
<style>
    body{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    background-size: cover;
    background-position: center;


}
.card{
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(15, 209, 8, 0.3);   
}
.card-img-top{
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-title{
  font-weight: bold;
}
</style>
<div class="container-fluid" style="background-image: url(https://static.wixstatic.com/media/84770f_be3f607ccbbc4053a20701f14104bb0f.jpg/v1/fill/w_1349,h_585,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_be3f607ccbbc4053a20701f14104bb0f.jpg);height:700px;background-repeat: no-repeat;background-size: cover;">
  <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">

      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
          <div style="color: green;">
              <h1 style="text-align: center; margin-top: 60%;" class="p" id="p">Explore India</h1>
              <p style="text-align: center;"class="p" id="p">"Travel far, travel wide, and travel freely."</p>
            </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">

      </div>
  </div>
</div>
<section style="margin-top: 100px;">
    <div class="container">
      <h1 class="text-center" style="color: green;">Indian Packages</h1>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1599739879563-1b6b666d4b7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGt1bGx1JTIwbWFuYWxpfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Image 1" style="height: 400px;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/26/c2/0d/00/nirvana-hamta-retreat.jpg" style="height: 350px;" alt="Image 2" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <h5 class="card-title">Kulu Manali</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu est eget risus semper consequat ut sed lectus.</p>
                <h6>Hotel Details:</h6>
                <ul class="list-unstyled">
                  <li><strong>Hotel Name:</strong> Example Hotel</li>
                  <li><strong>Price:</strong> 3000</li>
                  <li><strong>Location:</strong> City, Country</li>
                  <li><strong>Rating:</strong>
                    <span class="text-warning">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                  </li>
                </ul>
                <a href="{%url 'login'%}" style="text-decoration: none;color:white;">
                  <button class="btn" style="background-color: green; color: white;">Book Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 60px; margin-bottom: 30px;" >
          <img src="https://images.unsplash.com/photo-1625505826533-5c80aca7d157?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGdvYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Image 1" style="height: 400px;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <img src="https://images.unsplash.com/photo-1587922546307-776227941871?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Z29hfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" style="height: 350px;" alt="Image 2" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <h5 class="card-title">Goa</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu est eget risus semper consequat ut sed lectus.</p>
                <h6>Hotel Details:</h6>
                <ul class="list-unstyled">
                  <li><strong>Hotel Name:</strong> Example Hotel</li>
                  <li><strong>Price:</strong> 3000</li>
                  <li><strong>Location:</strong> City, Country</li>
                  <li><strong>Rating:</strong>
                    <span class="text-warning">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                  </li>
                </ul>
                <a href="{%url 'login'%}" style="text-decoration: none;color:white;">
                  <button class="btn" style="background-color: green;color: white;">Book Now</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="margin-top: 60px; margin-bottom: 30px;">
          <img src="https://media.istockphoto.com/id/510978989/photo/hawa-mahal-palace-in-jaipur-rajasthan.jpg?b=1&s=612x612&w=0&k=20&c=cflTYQLb7eRLlVSt0b6sQQ4gKOE8R2dQMPeUPcvEwkc=" class="card-img-top" alt="Image 1" style="height: 400px;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <img src="https://lh3.googleusercontent.com/p/AF1QipPYk7u4JT8GfayNZxP870CbfUEDtQS8szDpOkx5=w296-h202-n-k-rw-no-v2" style="height: 350px;" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <h5 class="card-title">Rajasthan</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu est eget risus semper consequat ut sed lectus.</p>
                <h6>Hotel Details:</h6>
                <ul class="list-unstyled">
                  <li><strong>Hotel Name:</strong> Example Hotel</li>
                  <li><strong>Price:</strong> 3000</li>
                  <li><strong>Location:</strong> City, Country</li>
                  <li><strong>Rating:</strong>
                    <span class="text-warning">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                  </li>
                </ul>
                <a href="{%url 'login'%}" style="text-decoration: none;color:white;">
                  <button class="btn" style="background-color: green;color: white;">Book Now</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
{%endblock%}